/* Google fonts 
    font-family: 'Roboto', sans-serif;
    100, 300, 500, 700 - normal and italic
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #5e7e89;
    color: white;
}

header a{
    margin-right: 1.5rem;
}

header a:hover{
    border: 2px solid white;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 300;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 300;
}

p{
    line-height: 1.5;
}

footer{
    font-weight: 100;
    font-size: small;
    background-color:#5e7e89;
    color: white;
}


p, form{
    font-weight: 100;
}

form input,
form textarea{
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem; 
    border: 2px solid rgb(220,220,220);
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
    border-color: #5e7e89;
}

textarea{
    min-height: 7rem;
}

form label{
    margin-top: 1rem;
    display: block;
    color: #b7b5ab;
    font-weight: bold; 
}

form button{
    background-color: #b7b5ab;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
}

form button:hover{
    background-color: #5e7e89;
    color: white;
}

/*--------- temporary styles for structural html -------------*/
*{
    padding: 0.5rem;
    border: 1px solid rgb(240,240,240);
}

body{border: none;}
html{border: none;}


/*------------Image Styles -------------*/

.bg-image{
    background-image: url('/images/\ karin2.jpg');
    background-size: cover;
    min-height: 10vh;
}

.bg-offer{
    background-color:#b7b5ab ;
    min-height: 46vh;
}

/*------------- Universal Styles & Utility Classes --------------*/

.padded-lg      {padding: 10%;}
.padded         {padding: 5%;}
.padded-sm      {padding: 1rem;}

.quote {
    font-size: 1.5rem;
    background-color: white;
    margin-bottom: 1rem;
    display: inline-block;
}

.quote-a {
    border: 2px solid #5e7e89;
    background-color: white;
    display: inline-block;
}

.quote-a:hover{
    border: 2px solid white;
    background-color: #5e7e89;
    color: white;
}


.logo{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.bg-dark{
    background-color:#5e7e89;
    color: white;
}

.text-left      {text-align: left;}
.text-right     {text-align:right;}
.text-center    {text-align:center;}

.tall-50        {min-height: 50vh};
.tall-60        {min-height: 60vh;}
.tall-70        {min-height: 70vh;}
.tall-80        {min-height: 80vh;}
.tall-90        {min-height: 90vh;}
.tall-100       {min-height: 100vh;}


/*---------------- Image & Background Images -----------------*/



.bg-banner{
    background-color:#b7b5ab ;
    background-size: cover;
    min-height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-form{
    background-image: url('/images/\ karin2.jpg');
    background-size: cover;
    border-radius: 50% 50%;

}



